.App-link {
  color: #61dafb;
}
.App {
  /* text-align: center; */
  background-color: #282c34;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}
.App-container{
  padding:20px;
}

.user.user-card {
  border: 2px solid #FFFfff;
  margin: 15px;
  padding: 15px;
  width:calc(100% - 550px);
  position: relative;
}

.user.user-card.selected, .user.user-card:hover{
  background-color: #585b61;
}

.selected .arrow{
  position: absolute;
  right: -118px;
  top: 0px;
  bottom: 0;
  border: 58px solid #f6f7f7;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
}

.user.user-card-name {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.user.user-card-email {
  font-size: 12px;
}
.user.user-card-website {
  font-style: italic;
  text-decoration: underline;
  cursor: pointer;
}
.sidebar{
  position: fixed;
  top:0;
  right:0;
  height:100%;
  background-color: #585b61;
  width:400px;
  padding: 20px;
}
.address-wrapper, .company-wrapper {
  padding-left: 60px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
