$background-selected-color: #585b61;
$background-color:  #282c34;
$white: #ffffff;

.App-container{
  padding:20px;
  
  .user-card{
    border: 2px solid $white;
    margin: 15px;
    padding: 15px;
    width:calc(100% - 550px);
    position: relative;

    &:hover{
      background-color: $background-selected-color;
    }

    &-name {
      font-size: 20px;
      font-weight: 600;
      cursor: pointer;
    }

    &-email {
      font-size: 12px;
    }

    &-website {
      font-style: italic;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .selected{
    background-color: $background-selected-color;

    .arrow{
      position: absolute;
      right: -110px;
      top: -2px;
      bottom: 0;
      border: 54px solid $white;
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-right-color: transparent;
    }
  }

  .sidebar{
    position: fixed;
    top:0;
    right:0;
    height:100%;
    background-color: $background-selected-color;
    width:400px;
    padding: 20px;
    
    .address-wrapper, .company-wrapper {
      padding-left: 60px;
    }
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
